agent-tools/expert-resolver.json
{"createdAt":"2025-06-19T15:28:50.702Z","updatedAt":"2025-06-23T11:50:43.000Z","id":"kI0ZWzuRYYcbssQ8","name":"expert-resolver - v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"system-message"},{"name":"google-doc-id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[340,0],"id":"b5a7ef35-a15b-4b46-ace1-7abfac1b3d3c","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.query }}","options":{"systemMessage":"={{ $('When Executed by Another Workflow').item.json.system-message }}\n\nAlways use your \"data\" tool to answer"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[560,0],"id":"2fb8e74a-e37c-4ce2-a360-754e34c9ec6c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[588,220],"id":"a54a0026-8091-4328-a3d8-ce77f00c9f18","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"zrmkVz9OjTv7XBQk","name":"DeepSeek account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json['google-doc-id'] }}"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[708,220],"id":"b2ba34ed-74d5-408d-890d-fefa1a33b8f5","name":"data","credentials":{"googleDocsOAuth2Api":{"id":"I8uPOD0tuHDcKmPd","name":"Google Docs account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7101a30b-3f40-4ad7-ac83-a19a471adfb4","triggerCount":0,"shared":[{"createdAt":"2025-06-19T15:28:50.705Z","updatedAt":"2025-06-19T15:28:50.705Z","role":"workflow:owner","workflowId":"kI0ZWzuRYYcbssQ8","projectId":"1f2hJgFh2CQ3VV1b","project":{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T14:35:24.150Z","id":"1f2hJgFh2CQ3VV1b","name":"Pablo Lombardo <admin@tuia.lat>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T12:00:13.856Z","role":"project:personalOwner","userId":"03e18d17-1d48-4a0c-b87d-34828a2651b1","projectId":"1f2hJgFh2CQ3VV1b","user":{"createdAt":"2025-06-19T12:00:13.464Z","updatedAt":"2025-06-22T20:18:23.789Z","id":"03e18d17-1d48-4a0c-b87d-34828a2651b1","email":"admin@tuia.lat","firstName":"Pablo","lastName":"Lombardo","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-19T14:35:31.897Z","personalization_survey_n8n_version":"1.98.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"kI0ZWzuRYYcbssQ8","userActivatedAt":1750348080744,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1750623501954}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}