subworkflows/detect-language.json
{
  "name": "detect-language-agent-v1",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_message"
            },
            {
              "name": "default_language"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1f6330af-d094-4d14-a096-8e3a2a1e3614",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "=Your task is to return the language of the user's message.\n\n## Examples:\n\n**User message:**  \n\"Este es un mensaje en español.\"  \n**You should return:**  \n\"Spanish\"\n\n**User message:**  \n\"This is an English message.\"  \n**You should return:**  \n\"English\"\n\n---\n\n## Special case:\n\n### Special case 1:\n\nIf the message contains a section like:\n\nImage: [image description]\nText: [some user input]\n\n- Only consider the content after **\"Text:\"**.\n- Ignore the language of the image description.\n- If there is **nothing after \"Text:\"**, assume the language is **`{{ $json.default_language }}`**.\n\n### Special case 2:\n\nIf the message contains a section like:\n\nAudio: [audio transcription]\nText: [some user input]\n\n- Only consider the content after **\"Text:\"**.\n- If there is **nothing after \"Text:\"**, considerer the language of the audio transcription.\n\n---\n\n**User message:** `{{ $json.user_message }}`\n\n**Return only the name of the detected language in `{{ $json.default_language }}`**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "06b28928-9240-4ff1-9fb8-443eacc10197",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        308,
        220
      ],
      "id": "627e985c-b4db-457e-99d8-aeb2e24eddfb",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "zrmkVz9OjTv7XBQk",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91a32557-3222-4db7-a443-9ffd8014fd57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "882988602abf98e9851810221f0bc352f9ce0a09d7dee9102a69fb9dc41162c4"
  },
  "id": "PhtBjmpScsY7YrrN",
  "tags": []
}