subworkflows/detect-language.json
{"createdAt":"2025-06-19T15:25:03.075Z","updatedAt":"2025-06-23T11:50:30.000Z","id":"PhtBjmpScsY7YrrN","name":"detect-language - v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"user_message"},{"name":"default_language"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,0],"id":"1f6330af-d094-4d14-a096-8e3a2a1e3614","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.user_message }}","options":{"systemMessage":"=Your task is to return the language of the user's message.\n\n## Examples:\n\n**User message:**  \n\"Este es un mensaje en español.\"  \n**You should return:**  \n\"Spanish\"\n\n**User message:**  \n\"This is an English message.\"  \n**You should return:**  \n\"English\"\n\n---\n\n## Special case:\n\n### Special case 1:\n\nIf the message contains a section like:\n\nImage: [image description]\nText: [some user input]\n\n- Only consider the content after **\"Text:\"**.\n- Ignore the language of the image description.\n- If there is **nothing after \"Text:\"**, assume the language is **`{{ $json.default_language }}`**.\n\n### Special case 2:\n\nIf the message contains a section like:\n\nAudio: [audio transcription]\nText: [some user input]\n\n- Only consider the content after **\"Text:\"**.\n- If there is **nothing after \"Text:\"**, considerer the language of the audio transcription.\n\n---\n\n**User message:** `{{ $json.user_message }}`\n\n**Return only the name of the detected language in `{{ $json.default_language }}`**\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[100,0],"id":"06b28928-9240-4ff1-9fb8-443eacc10197","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[188,220],"id":"627e985c-b4db-457e-99d8-aeb2e24eddfb","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"zrmkVz9OjTv7XBQk","name":"DeepSeek account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c105fcef-de16-4207-92f7-efd2d388c001","triggerCount":0,"shared":[{"createdAt":"2025-06-19T15:25:03.078Z","updatedAt":"2025-06-19T15:25:03.078Z","role":"workflow:owner","workflowId":"PhtBjmpScsY7YrrN","projectId":"1f2hJgFh2CQ3VV1b","project":{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T14:35:24.150Z","id":"1f2hJgFh2CQ3VV1b","name":"Pablo Lombardo <admin@tuia.lat>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T12:00:13.856Z","role":"project:personalOwner","userId":"03e18d17-1d48-4a0c-b87d-34828a2651b1","projectId":"1f2hJgFh2CQ3VV1b","user":{"createdAt":"2025-06-19T12:00:13.464Z","updatedAt":"2025-06-22T20:18:23.789Z","id":"03e18d17-1d48-4a0c-b87d-34828a2651b1","email":"admin@tuia.lat","firstName":"Pablo","lastName":"Lombardo","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-19T14:35:31.897Z","personalization_survey_n8n_version":"1.98.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"kI0ZWzuRYYcbssQ8","userActivatedAt":1750348080744,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1750623501954}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}