subworkflows/firewall.json
{"createdAt":"2025-06-19T14:56:16.622Z","updatedAt":"2025-06-23T11:50:49.000Z","id":"90JAgf2o1Fb4YUB4","name":"firewall - v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"human","type":"boolean"},{"name":"incoming","type":"boolean"},{"name":"human-temp","type":"boolean"},{"name":"conversation_id","type":"number"},{"name":"account_id","type":"number"},{"name":"message_content"},{"name":"chatwoot_url"},{"name":"message_id","type":"number"},{"name":"created_at"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-880,100],"id":"2063d639-cefc-441b-9f20-ec0e3f3b4ef7","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c890b60-be7b-496f-8d22-878ee2f87ad4","leftValue":"={{ $('Set data').item.json.human }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-440,100],"id":"d5decf77-0904-4c12-8735-150b487b3050","name":"Filter human"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"c4f213fb-c9ef-4ba3-bbb2-ba51179d5a7f","name":"Main flow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2502a693-3633-4f08-b368-3aff5a229ecb","leftValue":"={{ $('Set data').item.json.incoming }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"549d6ff9-ed8b-4270-8bb1-40cbb77c309c","leftValue":"={{ $json['human-temp'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,100],"id":"43a00f3d-d937-45e5-a03e-96af849621f9","name":"Incoming false?"},{"parameters":{"assignments":{"assignments":[{"id":"fab6c9b2-1c36-4ca3-9ee5-1b2b80736150","name":"human","value":"={{ $json.human }}","type":"boolean"},{"id":"989eb884-0ac9-46d0-8348-4cf9fa7a10ec","name":"incoming","value":"={{ $json.incoming }}","type":"boolean"},{"id":"db0c03e3-c541-4cd4-a574-332d9a146d41","name":"human-temp","value":"={{ $json['human-temp'] }}","type":"boolean"},{"id":"f28fe6e9-99c5-41ef-bc4d-05c25435198f","name":"conversation_id","value":"={{ $json.conversation_id }}","type":"string"},{"id":"1ce78e21-2fb9-4f6d-a959-9490669f55fd","name":"account_id","value":"={{ $json.account_id }}","type":"string"},{"id":"c7ec7dec-1445-42b1-8755-e11ecc5e4fd5","name":"chatwoot_url","value":"={{ $json.chatwoot_url }}","type":"string"},{"id":"84ada914-2328-4f93-a1ea-cd4749ed38b9","name":"flowdata.message_id","value":"={{ $json.message_id }}","type":"number"},{"id":"bb123018-1ceb-4f24-9fbd-35203c4916e5","name":"flowdata.created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"e47c119f-2933-4cf1-9d28-a7e701b9e053","name":"flowdata.message_content","value":"={{ $json.message_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,100],"id":"9821fc62-a25f-4a7e-b497-58c43f90187b","name":"Set data"},{"parameters":{"operation":"get","propertyName":"bot_message","key":"={{ $('Set data').item.json.account_id +\"_\"}}{{ $('Set data').item.json.conversation_id + \"_bot_message\" }}","keyType":"list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,200],"id":"9e55ab99-fd8f-4166-b97f-3fa78f87ac0d","name":"Get bot message","credentials":{"redis":{"id":"AT4Iqbzd8lEoYu8w","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3bf78a2-2bfb-4ed4-9f55-640ed4012c4e","leftValue":"={{ JSON.parse($json.bot_message.first()) }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"2502a693-3633-4f08-b368-3aff5a229ecb","leftValue":"={{ JSON.parse($json.bot_message.first()) }}","rightValue":"={{ $('Set data').item.json.flowdata.message_content }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,200],"id":"a3314db5-892c-4566-8e70-d021bba44ba2","name":"Bot message?"},{"parameters":{"operation":"delete","key":"={{ $('Set data').item.json.account_id +\"_\"}}{{ $('Set data').item.json.conversation_id + \"_bot_message\" }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[440,100],"id":"0548d161-31bc-4e3e-8d71-2c880e72e1dd","name":"Delete bot message","credentials":{"redis":{"id":"AT4Iqbzd8lEoYu8w","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ace2d184-3bc9-40b5-91df-c96b84275149","leftValue":"filter","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[660,100],"id":"fd38293b-52f9-4673-b8c3-ed5dfbee6665","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ace2d184-3bc9-40b5-91df-c96b84275149","leftValue":"filter","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[660,300],"id":"c418c665-4df6-446b-8d4e-68588926318c","name":"Filter 2"},{"parameters":{"workflowId":{"__rl":true,"value":"kvDyVepRpHFbff8h","mode":"list","cachedResultName":"human-pause-v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $('Set data').item.json.conversation_id }}","account_id":"={{ $('Set data').item.json.account_id }}","flowdata_message_id":"={{ $('Set data').item.json.flowdata.message_id }}","flowdata":"={{ $('Set data').item.json.flowdata }}","chatwoot_url":"={{ $('Set data').item.json.chatwoot_url }}"},"matchingColumns":["conversation_id","account_id","flowdata_message_id","flowdata","chatwoot_url"],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"flowdata_message_id","displayName":"flowdata_message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"flowdata","displayName":"flowdata","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"chatwoot_url","displayName":"chatwoot_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[440,300],"name":"human-pause-v1","id":"115201a1-fc10-4894-aef0-7c8159cbe66e"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Set data","type":"main","index":0}]]},"Filter human":{"main":[[{"node":"Incoming false?","type":"main","index":0}]]},"Incoming false?":{"main":[[{"node":"Main flow","type":"main","index":0}],[{"node":"Get bot message","type":"main","index":0}]]},"Set data":{"main":[[{"node":"Filter human","type":"main","index":0}]]},"Get bot message":{"main":[[{"node":"Bot message?","type":"main","index":0}]]},"Bot message?":{"main":[[{"node":"Delete bot message","type":"main","index":0}],[{"node":"human-pause-v1","type":"main","index":0}]]},"Delete bot message":{"main":[[{"node":"Filter","type":"main","index":0}]]},"human-pause-v1":{"main":[[{"node":"Filter 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f50128ce-cc70-447c-91bd-dcff419b1a3b","triggerCount":0,"shared":[{"createdAt":"2025-06-19T14:56:16.625Z","updatedAt":"2025-06-19T14:56:16.625Z","role":"workflow:owner","workflowId":"90JAgf2o1Fb4YUB4","projectId":"1f2hJgFh2CQ3VV1b","project":{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T14:35:24.150Z","id":"1f2hJgFh2CQ3VV1b","name":"Pablo Lombardo <admin@tuia.lat>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T12:00:13.856Z","role":"project:personalOwner","userId":"03e18d17-1d48-4a0c-b87d-34828a2651b1","projectId":"1f2hJgFh2CQ3VV1b","user":{"createdAt":"2025-06-19T12:00:13.464Z","updatedAt":"2025-06-22T20:18:23.789Z","id":"03e18d17-1d48-4a0c-b87d-34828a2651b1","email":"admin@tuia.lat","firstName":"Pablo","lastName":"Lombardo","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-19T14:35:31.897Z","personalization_survey_n8n_version":"1.98.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"kI0ZWzuRYYcbssQ8","userActivatedAt":1750348080744,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1750623501954}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}