subworkflows/github-push-flows.json
{
  "name": "github-push-flows - v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        820
      ],
      "id": "63b2b24b-995c-4e91-9538-71820aa8169d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "pblux",
          "mode": "list",
          "cachedResultName": "pblux",
          "cachedResultUrl": "https://github.com/pblux"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows-library",
          "mode": "list",
          "cachedResultName": "n8n-workflows-library",
          "cachedResultUrl": "https://github.com/pblux/n8n-workflows-library"
        },
        "filePath": "={{ $('Set data').item.json['file-path'] }}",
        "fileContent": "={{ $json.toJsonString() }}",
        "commitMessage": "={{ $('Set commit').item.json.commit }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        740,
        820
      ],
      "id": "d4909c12-e066-4ffe-92e1-4a3abc8c9ad3",
      "name": "Push it in GitHub",
      "webhookId": "175c8e1f-0e9f-42c4-9ff5-24b252b70bd1",
      "credentials": {
        "githubApi": {
          "id": "J45mL7DribvqGBrr",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d9b9dd5-a1d8-4b44-815e-324698f56e72",
              "name": "commit",
              "value": "update titles",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        820
      ],
      "id": "55637add-5139-4436-afb4-feebdf8ab813",
      "name": "Set commit"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json['flow-id'] }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        520,
        820
      ],
      "id": "c676f7e3-0b50-4d74-bf85-f5c5445c793f",
      "name": "Get flow to push",
      "credentials": {
        "n8nApi": {
          "id": "xskn4HABijssqgcp",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a1d614d-fee7-4b04-965c-b8e20f622501",
              "name": "flow-id",
              "value": "={{ $json['flow-id'] }}",
              "type": "string"
            },
            {
              "id": "22b7925a-738f-4b0c-946f-601dff5e9993",
              "name": "file-path",
              "value": "={{ $json['file-path'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        820
      ],
      "id": "7814cec2-a871-420d-a05b-d33ae305de93",
      "name": "Set data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "95Y7XRxRHfBKKudD",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/transcribe-media.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -180
      ],
      "id": "aab7efad-abab-466f-92d6-36af538ee52c",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "PhtBjmpScsY7YrrN",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/detect-language.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        20
      ],
      "id": "f4eb9825-260d-42ad-806e-c57ef4506ed8",
      "name": "detect-language"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "xZDlv3ZFE1h36MYb",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/message-buffer.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        220
      ],
      "id": "c43d4f8a-86b1-4310-8b16-4156c78b5fe2",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "kvDyVepRpHFbff8h",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/human-pause.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        420
      ],
      "id": "56148ff9-e389-4505-b2ee-d6d60963518e",
      "name": "human-pause"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "90JAgf2o1Fb4YUB4",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/firewall.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        620
      ],
      "id": "6ed43fc0-00a1-49c0-bbc2-94046230a6a6",
      "name": "firewall"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "kI0ZWzuRYYcbssQ8",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "agent-tools/expert-resolver.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        820
      ],
      "id": "927440a4-9bb4-4b3c-a3b6-63394665fc16",
      "name": "expert-resolver"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "o88GDhdNEmtzg9SY",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/build-system-message.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1020
      ],
      "id": "e60ae99c-4298-49ff-b435-0137fa435eb8",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "A3mEnBxRLgmH4VoN",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "subworkflows/calendar-operations.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1220
      ],
      "id": "f4557761-d30c-482a-8294-90e1b345d3b1",
      "name": "calendar-operations"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "PKkA7XvNjOHsVVJP",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "agent-tools/scheduling-agent.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1420
      ],
      "id": "71624195-fcbf-4313-a758-3a7569201e93",
      "name": "scheduling-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "BLROYqzFEV0qLEmk",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "github-push-flows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1620
      ],
      "id": "5329e6bc-d6d7-4a10-8ae4-6e49bec36272",
      "name": "github-push-flows"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04474d17-ae04-4529-a357-d4f9c2a5a73d",
              "name": "flow-id",
              "value": "a53VfxUWREOOuDTr",
              "type": "string"
            },
            {
              "id": "aaf14298-0c1c-408f-be89-3c329489aefe",
              "name": "file-path",
              "value": "main-agents/business-assistant.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1820
      ],
      "id": "aa8d9063-2795-45be-b3e1-e538a5823bdc",
      "name": "business-assistant"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push it in GitHub": {
      "main": [
        []
      ]
    },
    "Set commit": {
      "main": [
        []
      ]
    },
    "Get flow to push": {
      "main": [
        [
          {
            "node": "Push it in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Get flow to push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detect-language": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-pause": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firewall": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert-resolver": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendar-operations": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scheduling-agent": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github-push-flows": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "business-assistant": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "774e4f2b-5f56-4eda-a055-f097f7946d7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "882988602abf98e9851810221f0bc352f9ce0a09d7dee9102a69fb9dc41162c4"
  },
  "id": "BLROYqzFEV0qLEmk",
  "tags": []
}