subworkflows/transcribe-media.json
{"createdAt":"2025-06-19T14:59:46.006Z","updatedAt":"2025-06-22T19:25:29.000Z","id":"95Y7XRxRHfBKKudD","name":"transcribe-media-v1","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80d8e8e6-5809-4ed7-9e9b-aa3fc62520d1","leftValue":"={{ $json.audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3ff7ac1-f0ba-4088-b891-25d18b2a33ab","leftValue":"={{ $json.image }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"text"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-780,140],"id":"d799aa12-b94f-4cfd-8f88-8ddbc1f9f047","name":"Content type"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-120,-60],"id":"8fe576f0-7a33-4672-92cb-6efc329363e6","name":"Audio transcriber","credentials":{"openAiApi":{"id":"rsPJz7hiU81aTa8b","name":"OpenAi account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-120,140],"id":"f0b3be3a-1f21-41a5-87b5-bccf5d37ab0a","name":"OpenAI","credentials":{"openAiApi":{"id":"rsPJz7hiU81aTa8b","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.media_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,40],"id":"19d60bc1-f22d-465d-92e7-b2965aeed338","name":"Download attachment"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.audio }}","rightValue":"audio","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"c196396f-bd79-4591-b389-76a48a06f992"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72a18ab6-8d80-4a26-9c6d-fb6f29d5aae2","leftValue":"={{ $('When Executed by Another Workflow').item.json.image }}","rightValue":"image","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-340,40],"id":"bda1f7b8-112b-4460-8b16-496d2a401935","name":"Attachment type"},{"parameters":{"assignments":{"assignments":[{"id":"9f77c6a0-d2e5-4522-855f-f0f3d3db6d39","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,240],"id":"353d8c89-8daf-40aa-b434-967ef0ee664f","name":"Get text"},{"parameters":{"assignments":{"assignments":[{"id":"f8902392-9dc9-4f23-af29-74f9e323a7da","name":"text","value":"=Audio:\n{{ $json.text }}\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-60],"id":"ff9e1e66-36ce-4814-9d86-b4a2dea91268","name":"Get text from audio"},{"parameters":{"assignments":{"assignments":[{"id":"18e6bbe0-8c2a-409a-b2fa-c07a0f8b90b5","name":"text","value":"=Image:\n{{ $json.content }}\n\nText:\n{{ $('When Executed by Another Workflow').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,140],"id":"ba56b7f2-e46e-4ee5-92c5-99f182498e87","name":"Get text from image"},{"parameters":{"workflowInputs":{"values":[{"name":"text"},{"name":"audio","type":"boolean"},{"name":"image","type":"boolean"},{"name":"media_url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1000,140],"id":"2a2d67da-eae5-485e-8cfd-9ab37bc123ad","name":"When Executed by Another Workflow"}],"connections":{"Content type":{"main":[[{"node":"Download attachment","type":"main","index":0}],[{"node":"Download attachment","type":"main","index":0}],[{"node":"Get text","type":"main","index":0}]]},"Audio transcriber":{"main":[[{"node":"Get text from audio","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Get text from image","type":"main","index":0}]]},"Download attachment":{"main":[[{"node":"Attachment type","type":"main","index":0}]]},"Attachment type":{"main":[[{"node":"Audio transcriber","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Content type","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79515573-3ce7-4c27-bdc0-479f7aac1393","triggerCount":0,"shared":[{"createdAt":"2025-06-19T14:59:46.008Z","updatedAt":"2025-06-19T14:59:46.008Z","role":"workflow:owner","workflowId":"95Y7XRxRHfBKKudD","projectId":"1f2hJgFh2CQ3VV1b","project":{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T14:35:24.150Z","id":"1f2hJgFh2CQ3VV1b","name":"Pablo Lombardo <admin@tuia.lat>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-06-19T12:00:13.856Z","updatedAt":"2025-06-19T12:00:13.856Z","role":"project:personalOwner","userId":"03e18d17-1d48-4a0c-b87d-34828a2651b1","projectId":"1f2hJgFh2CQ3VV1b","user":{"createdAt":"2025-06-19T12:00:13.464Z","updatedAt":"2025-06-22T16:14:51.989Z","id":"03e18d17-1d48-4a0c-b87d-34828a2651b1","email":"admin@tuia.lat","firstName":"Pablo","lastName":"Lombardo","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-19T14:35:31.897Z","personalization_survey_n8n_version":"1.98.2"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"kI0ZWzuRYYcbssQ8","userActivatedAt":1750348080744,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1750608887571}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[]}