subworkflows/update-flows.json
{
  "name": "update-flows - v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        400
      ],
      "id": "a47d390f-3445-4847-ae26-4cd2a7f6d5b2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Get the input JSON\nlet data = $input.first().json;\n\n// List of properties to keep\nconst propertiesToKeep = ['name', 'nodes', 'connections', 'settings']; // Adjust with properties you want to retain\n\n// Create a new object with only the specified properties\nconst newData = {};\npropertiesToKeep.forEach(prop => {\n  if (prop in data) {\n    newData[prop] = data[prop];\n  }\n});\n\n// Return the modified JSON\nreturn [{ json: newData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        400
      ],
      "id": "ad22bb67-9ee5-43c4-8558-c7747da93de5",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "90JAgf2o1Fb4YUB4",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "AqL0PqvxTw4vzZ8k",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        0
      ],
      "id": "3eaa564f-2a69-44f6-8e4d-349ad424b183",
      "name": "firewall"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Set data').item.json['flow-id-from-local-instance'] }}",
          "mode": "id"
        },
        "workflowObject": "={{ $json.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        320,
        400
      ],
      "id": "047c868a-fe27-4d42-8b06-7eea2e73a08b",
      "name": "Update local instance flow",
      "credentials": {
        "n8nApi": {
          "id": "Qc1guxcNs5zYIgN5",
          "name": "n8n account - francosmetica"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json['flow-id-from-workflows-library'] }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -120,
        400
      ],
      "id": "0a1594cf-88b4-42db-8c33-d7307c70b12a",
      "name": "Get flow from workflows-library",
      "credentials": {
        "n8nApi": {
          "id": "9iHC9yjQNLJ9ToG1",
          "name": "n8n account - workflows-library"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "PhtBjmpScsY7YrrN",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "07jejISxSH09xYvw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -200
      ],
      "id": "2bc59795-c2e3-4ccf-bb00-a3c014f1626c",
      "name": "detect-language"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "kvDyVepRpHFbff8h",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "vJECfHh3qyM60WkE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        1000
      ],
      "id": "08f02d89-f793-4c90-9340-ca5e2d33af94",
      "name": "human-pause"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffffdc5f-dc3a-4ace-a1cc-ae6dcee96c5f",
              "name": "flow-id-from-workflows-library",
              "value": "={{ $json['flow-id-from-workflows-library'] }}",
              "type": "string"
            },
            {
              "id": "a5fd569d-b3b2-4cd8-9091-e2b88288455e",
              "name": "flow-id-from-local-instance",
              "value": "={{ $json['flow-id-from-local-instance'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        400
      ],
      "id": "e10667ef-36f0-4935-aa7a-64c09db58145",
      "name": "Set data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "o88GDhdNEmtzg9SY",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "9duy54dr6QQnLUQ5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        200
      ],
      "id": "f88ea152-f1f2-4314-afa3-8691248704c0",
      "name": "build-system-message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "uXKbJFPDBH3efcmA",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "vKa4Dr39iq6F738F",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        400
      ],
      "id": "b918e85f-66ea-4882-a62a-63ecef7d755f",
      "name": "transcribe-media"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "xZDlv3ZFE1h36MYb",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "6BiRKAhFnYqUA968",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        600
      ],
      "id": "f06d727a-d7db-47e4-9d71-717dde47bab9",
      "name": "message-buffer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c962-43b9-4339-a0d9-ad8611788db5",
              "name": "flow-id-from-workflows-library",
              "value": "kI0ZWzuRYYcbssQ8",
              "type": "string"
            },
            {
              "id": "5c28072a-68a7-41e8-9831-fb4ab6b2a121",
              "name": "flow-id-from-local-instance",
              "value": "UtWG3sC6aa0THfkm",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        800
      ],
      "id": "2d2f9123-9152-4ad3-beb9-1985fe9bb922",
      "name": "expert-resolver"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update local instance flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firewall": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get flow from workflows-library": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detect-language": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human-pause": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data": {
      "main": [
        [
          {
            "node": "Get flow from workflows-library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-system-message": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcribe-media": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-buffer": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expert-resolver": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35224118-d9f5-4960-acbd-0cb5e46e0415",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46498d026e66dd9abd4651d73ec92577e5e4a73a135d5e975a85dcc4eb57d775"
  },
  "id": "UNVFbKwlRtkdCUZZ",
  "tags": []
}